/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common styles */
.common-btn{
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor:pointer;
}
.common-container{
    width:90%;
    max-width:1100px;
    margin:auto;
}


/* Header */
header{
    padding: 10px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav .menus ul{
    display: flex;
    gap: 25px;
}
nav .menus ul li{
    list-style: none;
}
nav .menus ul li a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}



/* Hero section */
.hero{
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "Open Sans", sans-serif;
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to left,
    rgba(0,0,0,.35) 0%,
    rgba(0,0,0,.95) 100%
)
}
.hero-content{
    z-index: 1;
    position: relative;
    color: white;
    text-align: center;
    max-width: 70%;
    margin: auto;
}
.hero-content h1{
    padding: 7% 0 3% 0;
    font-size: 4rem;
}
.hero-content span{
    font-style: italic;
}
.hero-content p{
    width: 62%;
    text-align: center;
    margin: auto;
}
.hero-content button{
    margin-top: 20%;
    border-radius: 7px;
}



/* Speakers section */
.speakers{
    padding:80px 0;
    font-family: "Inter", sans-serif;
}
.speakers h2{
    text-align:center;
    font-size:3rem;
    margin-bottom:50px;
    font-weight:700;
}
.cards-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}
.card{
    background:#fff;
    border:1px solid #e6e6e6;
    border-radius:10px;
    box-shadow:0 15px 15px rgba(0,0,0,.08);
}
.card img{
    width:100%;
    object-fit:cover;
}
.card-content{
    padding:22px;
}
.card-content h6{
    font-weight:bold;
    color:#2F6BFF;
    letter-spacing:1px;
}

.card-content h3{
    margin:10px 0;
    font-size:24px;
}
.card-content p{
    color:#666;
    font-size:15px;
    line-height:1.5;
}



/* Pricing section */
section.price{
    width:100%;
    padding:80px 0;
    font-family: "Inter", sans-serif;
}
.price-container{
    text-align:center;
    margin-bottom:50px;
}
.price-container h2{
    font-size:48px;
    font-weight:700;
    color:#111827;
}
.price-container p{
    margin:10px 0 48px 0;
    color:#777;
}
.price-cards{
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    text-align: left;
}
.price-card{
    background:white;
    padding:30px;
    border-radius:10px;
    border:1px solid #ddd;
}
.price-card.active{
    background:#091522;
    color:white;
}
.plan{
    font-size:12px;
    letter-spacing:1px;
    color:#7b7b7b;
}
.price-card.active .plan{
    color:#7ea7ff;
}
.price-card h3{
    font-size:50px;
    margin-top:10px;
}
.price-card small{
    color:#888;
}
.price-card.active small{
    color:#b9b9b9;
}
hr{
    margin:25px 0;
    border-top:1px solid rgba(0,0,0,.1);
}
.price-card.active hr{
    border-color:rgba(255,255,255,.1);
}
ul{
    /* list-style:none; */
    margin-left: 20px;
    lighting-color: #2563eb;
}
ul li{
    margin-bottom:16px;
    color:#555;
    font-size:15px;
}
ul li::marker{
    color:#2563eb;
}
.price-card.active ul li{
    color:#ddd;
}
button{
    width:100%;
    margin-top:25px;
    height:48px;
    border-radius:8px;
    border:1px solid #2563eb;
    background:white;
    color:#2563eb;
    font-weight:600;
    cursor:pointer;
}
.price-card .last-card-button{
    color: #0e1d2c;
    border-color: #0e1d2c;
}



/* Footer */
footer{
    width: 100%;
    margin:0 auto;
    padding:50px 90px;
    background-color: #0e1d2c;
}
.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footer-logo img{
    height:45px;
}
.social-links{
    display:flex;
    gap:18px;
}
.social-links a{
    width:42px;
    height:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    border:1px solid #d9d9d9;
    border-radius:50%;
    color:#b9b9b9;
    transition:.3s;
}

.social-links a:hover{
    background:#2563eb;
    color:#fff;
    border-color:#2563eb;
}
footer .footer-container hr{
    border:1px solid #6b7280;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-bottom p{
    font-size:15px;
    color:#6b7280;
}
.footer-bottom .right{
    display: flex;
    gap: 25px;
}